.card {
    border: 1px solid #2ECC71;
    border-radius: 1vh;
    padding: 2vh;
    margin: 1vh;
    width: 20vw;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card img {
    width: 20vw;
}

.card-button {
    background-color: #2ECC71;
    color: #F5F5F5;
    padding: 1vh;
    border-radius: 1vh;
}