body {
    font-family: 'Consolas L', sans-serif;
    color: #F5F5F5;
    font-size: 2vh;
    background-color: #1C1C1C;
}

.container {
    width: 50vw;
    margin: 0 auto;
    padding: 2vw;
    background-color: #1F1F1F;
}

a {
    color: #2ECC71;
    text-decoration: none;
}

a:hover {
    color: #2ECC71;
    background-color: #1F1F1F;
    text-decoration: none;
}

a:active {
    color: #2ECC71;
    background-color: #1F1F1F;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: center;
    justify-items: center;
    padding: 2vh;
    border-bottom: 1px solid #2ECC71;
    background-color: #1F1F1F;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

header a {
    padding: 0 5vw;
    font-size: 4vh;
}

h1 {
    font-size: 4vh;
}

footer {
    border: 1px solid #2ECC71;
    text-align: center;
    border-radius: 1vh;
    padding: 2vh;
    margin: 1vh;
}

header img {
    height: 6vh;
}

label {
    display: block;
    margin-bottom: 2vh;
}

