body {
    font-family: 'Consolas L', sans-serif;
    color: #F5F5F5;
    font-size: 2vh;
    padding: 10vh 20vw;
    background-color: #1C1C1C;
}

a, a:hover, a:active, strong {
    color: #2ECC71;
    text-decoration: none;
}

button {
    font-size: 2vh;
    color: #1C1C1C;
    background-color: #2ECC71;
    border-radius: 0.5vh;
    border: 0.5vh solid #2ECC71;
}
